*{
  margin: 0px;
  padding: 0px;
}
html,body{
  height: 100%;
  width: 100%;
  
  
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  text-decoration: underline;
}
.Nav{
 display: flex;
 align-items: center;
justify-content: space-between;
 background-color: #333;
 height: 60px;
 color: white;
 padding: 0px 40px;
}
.Nav div {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin: 5px;
}
div a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
div a:hover{
  color: cadetblue;
}