.header{
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  padding : 10px 20px;
  background-color: #333;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  margin:  20px ;
  border: none;
}