*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #222;
}
.main{
  background-color: #666;
  padding: 10px;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  display: flex;
}
.side-options{
  display: flex;
  flex-direction: row;
  padding: 20px;
  cursor: pointer;
  gap: 60px;
}
